$blue_default : #0F273D;
$blue_default_light : #425A71;
$blue_dark : #0C2033;
$gray_light : #9CB3C9;
$gray : #D9D9D9;
$white : #fff;
$black : #000;
$red : #D64D96;
$green : #3CD483;
$white_opacity : rgba(255,255,255,0.5);

$media_large_screen : 1200px;
$media_medium_screen : 980px;
$media_small_screen : 740px;

$media_default_screen_container : 1020px;
$media_large_screen_container : 960px;
$media_medium_screen_container : 720px;
$media_small_screen_container : 540px;


$media_default_screen_big_font : 35px;
$media_medium_screen_big_font : 30px;
$media_small_screen_big_font : 25px;
