@use "./helper/mixins" as *;
@use "./helper/variables" as *;

.BurgerMenu_Navigation {
    @include justify-space-between;
    list-style: none;
    & li {
        font-weight: 500;
        cursor: pointer;
        margin-right: 10px;
    }

    & li:last-of-type {
        margin-right: 0;
    }
}

@media (min-width: $media_large_screen) {
    .BurgerMenu_Navigation {
        & li:hover {
            color: $white;
        }
    }
}
  
@media (max-width: $media_medium_screen) {
    .BurgerMenu_Navigation {
        @include justify-center;
        flex-direction: column;
    }

    .BurgerMenu_Navigation_Horizontal {
        display: none;
    }
}

@media (max-width: $media_small_screen) {
  
}
  