@use 'helper/variables' as *;
@use 'helper/mixins' as *;

$navigation_bar_height : 90px;

.NavigationBar {
    width: 100%;
    height: $navigation_bar_height;
}

.NavigationBar_Container {
   @include justify-space-between;
}

.NavigationBar_Logo {
    font-size: $media_default_screen_big_font;
    color: $white;
    font-weight: bold;
    & img {
        width: 20px;
        height: 30px;
    }   
}

@media (min-width: $media_large_screen) {
    .NavigationBar_Items {
        & li:hover {
            color: $white;
        }
    }
}
  
@media (max-width: $media_medium_screen) {
    
}

@media (max-width: $media_small_screen) {
  
}
  