$blue_default : #0F273D;
$blue_default_light : #425A71;
$blue_dark : #0C2033;
$gray_light : #9CB3C9;
$white : #fff;
$black : #000;
$red : #D64D96;
$green : #3CD483;

$media_large_screen : 990px;
$media_medium_screen : 760px;
$media_small_screen : 480px;

$media_default_screen_container : 1120px;
$media_large_screen_container : 750px;
$media_medium_screen_container : 500px;
$media_small_screen_container : 350px;
